@{
    Image image = ViewBag.Image;
    ViewData["Title"] = image.Name;
}
@inject SignInManager<ApplicationUser> SignInManager

<div class="d-flex justify-content-between">
    <h2 class="d-inline">@image.Name</h2>
    <div class="align-content-end d-flex align-items-center">
        <form method="get">
            <button
                class="btn btn-outline-dark mr-2"
                title="View image"
                asp-action="Direct"
                asp-route-id="@image.Id"
            >
                <ion-icon name="eye"></ion-icon>
            </button>
            @if (SignInManager.IsSignedIn(User))
            {
                <button
                    class="btn btn-danger"
                    title="Delete"
                    asp-action="Delete"
                    asp-route-id="@image.Id"
                >
                    <ion-icon name="trash"></ion-icon>
                </button>
            }
        </form>
    </div>
</div>
<div class="mt-2 d-flex align-items-center">
    <span class="d-flex mr-2 align-items-center">
        <ion-icon class="mr-1" name="time"></ion-icon>
        @image.UploadTimeUtc.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")
    </span>
    <span class="d-flex mr-2 align-items-center">
        <ion-icon class="mr-1" name="information-circle-outline"></ion-icon>
        @Converter.ByteToReadableString(image.FileSize)
    </span>
    <span class="d-flex mr-2 align-items-center">
        <ion-icon class="mr-1" name="person"></ion-icon>
        @image.OwnBy
    </span>
</div>
<hr/>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#direct" role="tab">Direct link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#detail" role="tab">Detail link</a>
    </li>
</ul>

<div class="tab-content mt-1 mb-3" id="links">
    <div class="tab-pane fade show active" id="direct" role="tabpanel">
        <input 
            class="form-control"
            value="@Url.Action("Direct", "Image", new { id = image.Id }, Context.Request.Scheme )"
            onclick="this.select()"
        />
    </div>
    <div class="tab-pane fade" id="detail" role="tabpanel">
        <input
            class="form-control"
            value="@Url.Action("Detail", "Image", new { id = image.Id }, Context.Request.Scheme)"
            onclick="this.select()"
        />
    </div>
</div>
<div class="d-flex justify-content-center align-items-center">
    <img src="@ViewBag.ImageLink" style="max-height: 100%; max-width: 100%; height: auto; width: auto;"/>
</div>